#charts {
    width: 100%;
    height: auto;
    padding: 0.3125rem 0.3125rem;
    padding-bottom: 3rem;
}

* {
     /*border: 1px solid black;*/
}


#history h1, .card h3  {
    text-align: center;
    color: var(--darkColor);
}

#charts h2 {
    padding: 0;
    text-align: left;
    color: inherit;
    border-bottom: 1px dashed lightgray;
    padding-bottom: 1rem;
    padding-left: 1rem;
}

.card * {
    /*border: 1px solid black;*/
}

.chart-row {
    width: 100%;
    padding: 0.7rem 0.7rem 1.3rem 0.7rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
    gap: 0.7rem;
    border-bottom: 1px dashed lightgray;
}

.card {
    display: inherit;
    justify-content: center; 
    align-items: center; 
    height: 18.75rem;
    position: relative;
    border: 1px solid lightgray;
    padding: 0.5rem;
    border-radius: 0.625rem;
    background-color: white;
    overflow: scroll;
    z-index: 1; 
}

.card canvas {
    width: 100%;
    z-index: 10;
}

.chart-container {
    height: 11.875rem;
    min-width: 15.625rem;
    z-index: 1;
}

.card p {
    text-align: center;
    font-size: .7rem;
    position: absolute;
    top: 20%;
    right: 0;
    bottom: 0;
    left: 0;
}

.hist-table {
    overflow-y: scroll;
}

.hist-table tr {
    height: 2rem;
}


