
#loginMain {
    height: auto; 
}

.login-form-wrapper {
    display: flex;
    height: 100vh;
    min-height: 25rem;
    padding: 0.625rem;
    
  }

.login-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 21.875rem;
    min-width: 15.625rem;
    padding: 0.9375rem;
  }

  .error {
    font-size: .7rem;
  }

  #login {
    text-align: center;
    color: var(--darkColor);
  }

  .login-form button {
    padding: 0.75rem 0.9375rem;
    margin-bottom: 0.3125rem;
    border-radius: 25px;
    background-color: var(--darkColor);
    color: var(--backgroundColor);
    font-family: var(--font);
    font-size: 1rem;
    font-weight: bold;
    outline: none;
    border: none;
    height: 3.125rem;
    cursor: pointer;
    transition: .2 ease;
  }

  .login-form button:hover {
    opacity: 0.9;
  }

  .login-form button:focus {
    border: 1px dashed lightgray;
    opacity: 0.9;
  }
  
  p {
    width: 100%;
  }
  
  .login-form input, select {
    width: 100%;
    padding: 0.75rem 1.25rem;
    margin-top: 0.3125rem;
    background-color: rgba(255,255,255,0.9);
    border: none;
    border-radius: 25px;
    outline: none;
    color: var(--darkColor);
    height: 3.125rem;
    font-size: 1rem;
  }

  input:focus {
    border: 1px dashed lightgray;
  }