<div class="predictor-table">
    <table>
        <tr>
            <th>Team</th>
            <th title="Game Win Probability">Win Game</th>
            <th title="Division Win Probability">Win Div.</th>
            <th title="predicted overall wins">W</th>
            <th title="predicted overall losses">L</th>
        </tr>
        <tr>
            <td><img class="table-logo-one" src="{{data['teamOneLogo']}}" alt="{{data['teamOne']}} logo" width="20px"
                    height="20px"></td>
            <td class="table-ctw-one">{{data['teamOneCTW']}}%</td>
            <td class="table-ctwd-one">{{data['teamOneCTWD']}}%</td>
            <td class="table-w-one">{{data['teamOneW']}}</td>
            <td class="table-l-one">{{data['teamOneL']}}</td>
        </tr>
        <tr>
            <td><img class="table-logo-two" src="{{data['teamTwoLogo']}}" alt="{{data['teamTwo']}} logo" width="20px"
                    height="20px"></td>
            <td class="table-ctw-two">{{data['teamTwoCTW']}}%</td>
            <td class="table-ctwd-two">{{data['teamTwoCTWD']}}%</td>
            <td class="table-w-two">{{data['teamTwoW']}}</td>
            <td class="table-l-two">{{data['teamTwoL']}}</td>
        </tr>
    </table>
</div>